<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lo-Dash - jsTemplates</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<ul class="artist-list"></ul>
<!--
<script src="js/vendor/jquery-1.11.1.min.js"></script>
<script src="js/vendor/lodash.min.js"></script>
-->
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script id="tmpl-artist" type="text/tmpl">
	<% _.forEach(data,function(artist) { %>
	<li data-artist-id="<%= artist.ArtistId %>"><%= artist.Name %></li>
	<% }); %>
</script>
<script type="text/javascript">

	/* json data sample
	data =
	[{"ArtistId":43,"Name":"A Cor Do Som"},{"ArtistId":230,"Name":"Aaron Copland & London Symphony Orchestra"},{"ArtistId":202,"Name":"Aaron Goldberg"},{"ArtistId":1,"Name":"AC/DC"}]
	*/

	$(function() {
		var tmplSource = $('#tmpl-artist').html(),
			template;

		$.getJSON('http://jimfrenette.com/chinook/api/artists').done(function(data) {
			if (data) {

				template = _.template(tmplSource)({
					data: data
				});

				$(".artist-list").html(template);
			}
		});
	});

</script>
</body>
</html>
